## 예제 13-1-1 전역 이름공간 알아보기

In [2]:
x = 100

In [3]:
vars()['x']

100

In [3]:
globals()['x']

100

In [4]:
def add(x,y) :
    return x + y

In [5]:
globals()['add']

In [6]:
class Klass :
    pass

In [7]:
globals()['Klass']

__main__.Klass

## 예제 13-2-1 변수의 값을 스와핑 하기

In [12]:
x = 300

In [13]:
y = 500

In [14]:
temp = x

In [15]:
x = y

In [16]:
y = temp

In [17]:
x, y

(500, 300)

In [2]:
a = 100

In [3]:
b = "문자열"

In [4]:
a,b = b,a

In [5]:
a, b

('문자열', 100)

In [8]:
c = a,b

In [9]:
c

('문자열', 100)

In [24]:
a, = b,a

ValueError: too many values to unpack (expected 1)

In [10]:
*a, = b,a

In [11]:
a

[100, '문자열']

## 예제 13-3-1 여러 개의 값을 변수에 할당하기

In [12]:
a = b = c = d = 5

In [13]:
a, b, c,d

(5, 5, 5, 5)

In [14]:
d =5

In [15]:
c = d

In [16]:
b = c

In [17]:
a = b

In [18]:
e,f,g = 5

TypeError: cannot unpack non-iterable int object

In [19]:
a = b,c,d

In [20]:
a

(5, 5, 5)

In [21]:
a, b, c = [1,2,3,4,5]

ValueError: too many values to unpack (expected 3)

In [34]:
a, *b, c = [1,2,3,4,5]

In [38]:
a, b, c

(1, [2, 3, 4], 5)

In [41]:
a, *b, c = "문자열도 분리"

In [42]:
a, b, c

('문', ['자', '열', '도', ' ', '분'], '리')

In [43]:
a, *b, c = list("문자열도 분리")

In [44]:
a, b, c

('문', ['자', '열', '도', ' ', '분'], '리')

In [22]:
a, *b, c = {'a':1,'b':2,'c':3,'d':4}

In [23]:
a, b, c

('a', ['b', 'c'], 'd')

In [24]:
a, **b, c = {'a':1,'b':2,'c':3,'d':4}

SyntaxError: invalid syntax (<ipython-input-24-bcdf661c7e18>, line 1)

In [25]:
d = dict(**{'a':1,'b':2,'c':3,'d':4})

In [26]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}