## 예제 13-1-1 전역 이름공간 알아보기

In [2]:
x = 100

In [3]:
vars()['x']

100

In [3]:
globals()['x']

100

In [4]:
def add(x,y) :
    return x + y

In [5]:
globals()['add']

In [6]:
class Klass :
    pass

In [7]:
globals()['Klass']

__main__.Klass

## 예제 13-2-1 변수의 값을 스와핑 하기

In [8]:
y =100

In [9]:
y

100

In [10]:
y = "문자열"

In [11]:
y

'문자열'

In [12]:
x = 300

In [13]:
y = 500

In [14]:
temp = x

In [15]:
x = y

In [16]:
y = temp

In [17]:
x, y

(500, 300)

In [20]:
a = 100

In [21]:
b = "문장열"

In [22]:
a,b = b,a

In [23]:
a, b

('문장열', 100)

In [24]:
a, = b,a

ValueError: too many values to unpack (expected 1)

## 예제 13-3-1 여러 개의 값을 변수에 할당하기

In [26]:
a = b = c = d = 5

In [27]:
a, b, c,d

(5, 5, 5, 5)

In [28]:
d =5

In [29]:
c = d

In [30]:
b = c

In [31]:
a = b

In [32]:
a = b,c,d

In [33]:
a

(5, 5, 5)

In [34]:
a, *b, c = [1,2,3,4,5]

In [38]:
a, b, c

(1, [2, 3, 4], 5)

In [41]:
a, *b, c = "문자열도 분리"

In [42]:
a, b, c

('문', ['자', '열', '도', ' ', '분'], '리')

In [43]:
a, *b, c = list("문자열도 분리")

In [44]:
a, b, c

('문', ['자', '열', '도', ' ', '분'], '리')

In [45]:
a, *b, c = {'a':1,'b':2,'c':3,'d':4}

In [46]:
a, b, c

('a', ['b', 'c'], 'd')

In [47]:
a, **b, c = {'a':1,'b':2,'c':3,'d':4}

SyntaxError: invalid syntax (<ipython-input-47-bcdf661c7e18>, line 1)

In [48]:
d = dict(**{'a':1,'b':2,'c':3,'d':4})

In [49]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}